root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
indent_style = space
indent_size = 4
trim_trailing_whitespace = true

[*.php]
ij_php_align_key_value_pairs = true
ij_php_align_match_arm_bodies = true
ij_php_align_multiline_parameters = false
ij_php_align_multiline_parameters_in_calls = false
ij_php_anonymous_brace_style = end_of_line
ij_php_block_brace_style = end_of_line
ij_php_call_parameters_wrap = normal
ij_php_class_brace_style = next_line
ij_php_do_while_brace_force = always
ij_php_else_if_style = combine
ij_php_else_on_new_line = false
ij_php_for_brace_force = always
ij_php_getters_setters_naming_style = camel_case
ij_php_if_brace_force = always
ij_php_import_sorting = alphabetic
ij_php_keep_rparen_and_lbrace_on_one_line = true
ij_php_lambda_brace_style = end_of_line
ij_php_lower_case_boolean_const = true
ij_php_lower_case_keywords = true
ij_php_lower_case_null_const = true
ij_php_method_brace_style = next_line
ij_php_method_parameters_new_line_after_left_paren = true
ij_php_method_parameters_right_paren_on_new_line = true
ij_php_method_parameters_wrap = on_every_item
ij_php_space_after_type_cast = true
ij_php_space_before_closure_left_parenthesis = true
ij_php_space_before_short_closure_left_parenthesis = true
ij_php_spaces_around_var_within_brackets = true
ij_php_variable_naming_style = camel_case
ij_php_while_brace_force = always

[*.yml]
indent_size = 2
